html, body{
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 94%);
    color: hsl(0, 0%, 8%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.site-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
   height: clamp(420px, 50%, 500px);
   width: clamp(375px, 90%, 500px);
   background-color: hsl(0, 0%, 100%);
   border-radius: 15px 15px 80px 15px;
   display: grid;
   grid-template-rows: 30% 70%;
   box-sizing: border-box;
    padding: 30px;
}
.inputs{
    grid-row: 1/2;
    display: flex;
    gap: 5%;
}
.inputs input{
    box-sizing: border-box;
    width: clamp(80px, 85px, 90px);
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    padding: 10px 10px 10px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;

}
input[type=text]:focus {
    border-color: hsl(259, 100%, 65%);
    outline: hsl(259, 100%, 65%);

}
.inputs label{
    color: hsl(0, 1%, 44%);
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.inputs p{
    font-size: 8px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    color: hsl(0, 100%, 67%);
    visibility: hidden;

}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.divider{
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    margin: 0 30px;
    top: 29%;
}
.button{
    position: absolute;
    background-color: hsl(259, 100%, 65%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    right: 4%;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
}
.button img {
    width: 50%;
}
.display{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    margin: auto 0;
}
.display h1 {
    margin: 0;
}
.outputs{
    display: flex;
    gap: 2%;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
    padding: 0;
}
.num-output{
    color: hsl(259, 100%, 65%);
}
@media (max-width: 1105px) {
    .container{
        height: 500px;
    }
    .inputs {
        padding-top: 20px;
    }
    .inputs label{
        font-size: 12px;
    }
    .divider {
        width: 85%;
        top: 170px;
    }
    .button {
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: 140px;
    }
    .display {
        font-size: 1.7;
        padding-top: 40px;
    }
}
.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0; margin-left: auto; margin-right: auto;}
.attribution a { color: hsl(228, 45%, 44%); }